%h1 Lista pacjentów

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Nazwisko
      %th{:scope => "col"} Imię
      %th{:scope => "col"} Data urodzenia
      %th{:scope => "col"} Numer telefonu
      %th{:scope => "col"}
  %tbody
    - @patients.each_with_index do |patient, index|
      %tr
        %th{scope: "row"}
          = index + 1
        %td
          %a{href: patient_card_path(patient)}
            = patient.last_name
        %td
          %a{href: patient_card_path(patient)}
            = patient.first_name
        %td= patient.date_of_birth
        %td= patient.phone_number
        %td
          = link_to 'Umów wizytę',new_patient_card_appointment_path(patient), class: 'btn btn-primary btn-xs'
          = link_to 'Edytuj', edit_patient_card_path(patient), class: 'btn btn-warning btn-xs'
          = link_to 'Usuń', patient_card_path(patient), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
